@import "tailwindcss";

@theme {

  /* Colors */
  --color-bg1: #0e1518;
  --color-bg2: #1e293b;
  --color-accent: #959ca3;
  --color-text1: #f9f8ff;
  --color-text2: #cbd5e1;
  --color-highlight: #00b4d8;
  --color-cta: #f43f5e;

}

:root {  
  background-color: var(--color-bg1);
  scroll-behavior: smooth;
}

